<div class="show-background" ng-show="info" style="background-image: url('{{info.images.fanart}}')">

</div>

<div class="container show-content" ng-show="info">

    <div class="row">
        <div class="col-md-12">
            <h1>{{ info.title }} <small>{{ info.genres.join(', ') }}</small></h1>
            <p class="lead">{{ info.overview }} <a href="" data-toggle="collapse" data-target="#more">more...</a></p>
        </div>
    </div>

    <div class="row collapse" id="more">
        <img src="{{ info.poster }}" class="hidden-sm hidden-xs col-md-4" />
        <div class="col-md-4">
            <h4>Details</h4>
            <dl class="dl-horizontal">
                <dt>Year</dt>
                <dd>{{ info.year }}</dd>
                <dt>Country</dt>
                <dd>{{ info.country }}</dd>
                <dt>Network</dt>
                <dd>{{ info.network }}</dd>
                <dt>Status</dt>
                <dd>{{ info.status }}</dd>
                <dt>Air time</dt>
                <dd>{{ info.air_day }} at {{ info.air_time }}</dd>
                <dt>Runtime</dt>
                <dd>{{ info.runtime }}min</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h4>Starring</h4>
            <dl class="dl-horizontal">
                <span ng-repeat="actor in info.people.actors">
                    <dt>{{ actor.name || 'unknown' }}</dt>
                    <dd>{{ actor.character || 'unknown' }}</dd>
                </span>
            </dl>
        </div>
    </div>

    <div class="row" ng-repeat="season in info.seasons">
        <div class="col-md-12">
            <h2>Season {{ season.season }}</h2>

            <div class="row">
                <img src="{{ season.poster }}" class="hidden-sm hidden-xs col-md-3"/>

                <div class="col-md-9">
                    <div ng-repeat="episode in season.episodes|orderBy:'episode':false" class="row episode">
                        <div class="col-md-12">
                            <h3 data-toggle="collapse" data-target="#episode-{{ episode.season }}-{{ episode.episode }}">
                                <div class="number bg-success">{{ episode.episode }}</div>
                                {{ episode.title }}
                                <small><a href="">more...</a></small>
                            </h3>
                        </div>

                        <div id="episode-{{ episode.season }}-{{ episode.episode }}" class="collapse col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <p><em>Aired on {{ episode.first_aired|date:'medium' }}.</em></p>
                                </div>
                            </div>
                            <div class="row">
                                <img src="{{ episode.screen }}" class="col-md-4"/>
                                <div class="col-md-8">
                                    <p>{{ episode.overview }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container">

    <div class="row" ng-show="loading">
        <div class="col-md-12 page-header">
            <p class="lead text-center">Looking for {{ show }}...</p>
            <div class="spinner"></div>
        </div>
    </div>

    <div class="row" ng-show="error">
        <div class="alert alert-danger">
            <h4>{{show}} not found!</h4>
            <p><a ng-href="#/tv" class="alert-link">Change a few things up</a> and try submitting again.</p>
        </div>
    </div>

</div>
