<div class="container">

    <div class="row">
        <blockquote>
            <p>Let look for your favorite tv show...</p>
        </blockquote>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="The Good Wife, Doctor Who..." ng-model="query" ms-enter="goToShow(query)">
                <span class="input-group-btn">
                    <button class="btn btn-lg btn-success" type="button" ng-click="goToShow(query)">Go</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 tile" ng-repeat="show in shows|limitTo:20">
            <a ng-href="#/tv/{{ show.title }}">
                <h3 class="bg-default">{{ show.title }}</h3>
                <div style="background-image: url('{{show.images.fanart}}')"></div>
            </a>
        </div>
    </div>

</div>
