body {
    padding-top: 0px;
}

.episode {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.episode > * {
    display: inline-block;
}

.number{
    width: 50px;
    height: 50px;
    font-size: 3em;
    margin-right: 5px;
    overflow: hidden;
    font-weight: bold;
}

.torrent {
    font-size: 1.2em;
}

.navbar {
    border-radius: 0px;
}

.show-background {
    margin-top: -21px;
    height: 600px;

    background: no-repeat center top fixed;
    background-size: cover;
}

.show-content {
    margin-top: -150px;
    background: #222222;
}

.spinner {
    width: 30px;
    height: 30px;
    background-color: #fff;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
