body {
    padding-top: 0px;
}

.twitter-typeahead {
    width: 100%;
    vertical-align: middle;
}

.twitter-typeahead input {
    border-radius: 0px;
}

.tt-dropdown-menu {
    background: white;
    width: 100%;
}

.tt-suggestion {
    color: #464545;
    height: 40px;
    padding: 10px 27px 0px 27px;
    margin: 0px;
}

.tt-suggestion.tt-cursor {
    color: white;
    background: #009871;
    cursor: pointer;
}

.tt-suggestion.tt-cursor em{
    color: white;
}   

.tt-suggestion em {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 10px;
    color: #999999;
}

.tile.ng-enter {
    transition: all 200ms ease;
    transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    opacity:0;
}
.tile.ng-enter-stagger {
    transition-delay: 0.1s;
    transition-duration: 0s;
}
.tile.ng-enter.ng-enter-active {
    transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    opacity: 1;
}

.tile a {
    display: block;
    margin-top: 30px;
}

.tile div {
    height: 125px;
    background-size: cover;
}

.tile h3 {
    padding: 10px;
    margin: 0px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: inline-block;
    max-width: 100%;

    position: absolute;
    top: 90px;
    left: 0px;
}

.tile a:hover {
    text-decoration: none;
}

.bg-default {
    background-color: #464545;
}

.number{
    width: 42px;
    height: 42px;
    font-size: 45px;
    overflow: hidden;
    display: inline-block;
    line-height: initial;
}

.episode h3 {
    cursor: pointer;
}

.episode img {
    max-width: 100%;
}

.navbar {
    border-radius: 0px;
}

body {
    background: no-repeat center top fixed #222222;
    background-size: cover;
}

.show-background {
    height: 100vh;
}

.show-content {
    background: #222222;
    margin-top: -154px;
}

.show-content h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.spinner {
    width: 30px;
    height: 30px;
    background-color: #fff;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
