body {
    padding-top: 0px;
}

.tile.ng-enter {
    transition: all 200ms ease;
    transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    opacity:0;
}
.tile.ng-enter-stagger {
    transition-delay: 0.1s;
    transition-duration: 0s;
}
.tile.ng-enter.ng-enter-active {
    transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    opacity: 1;
}

.tile a {
    display: block;
    margin-top: 30px;
}

.tile div {
    height: 125px;
    background-size: cover;
}

.tile h3 {
    padding: 10px;
    margin: 0px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: inline-block;
    max-width: 100%;

    position: absolute;
    top: 90px;
    left: 0px;
}

.tile a:hover {
    text-decoration: none;
}

.bg-default {
    background-color: #464545;
}

.number{
    width: 50px;
    height: 50px;
    font-size: 2em;
    margin-right: 5px;
    overflow: hidden;
    display: inline-block;
    line-height: initial;
}

.episode h3 {
    cursor: pointer;
}

.episode img {
    max-width: 100%;
}

.navbar {
    border-radius: 0px;
}

.show-background {
    margin-top: -21px;
    height: 600px;

    background: no-repeat center top fixed;
    background-size: cover;
}

.show-content {
    margin-top: -150px;
    background: #222222;
}

.spinner {
    width: 30px;
    height: 30px;
    background-color: #fff;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
